<div class="container">

<h1>Our Cards</h1>
<p>Select a card to set up autosending!</p>

<div class="row">
  <% @cards.each do |card| %>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= link_to card_path(card.id) do %>
            <%= image_tag card.image.url(:medium), class: "img-responsive" %>
          <% end %>
          <p><strong><%= number_to_currency card.price %></strong></p>
          <h4><%= card.style %></h4>
        </div>
      </div>
    </div> <!-- col-md-4 -->
  <% end %>

  </div>
</div>
